*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
     background-image: url('imgs/bg-top.svg');
 background-position: top right -13.5rem;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.content-holder{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

h1{
    font-size: 32px;
    color: #6E728E;
    margin-bottom: 2rem;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A2A7F0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A2A7F0;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A2A7F0;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-area{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 239px;
      justify-content: space-between;
  }

  .switch-area{
      display: flex;
      flex-direction: row;
      align-items: center;
     
  }

  .switch-area p{
      color: #6E728E;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 15px;
  }

@media screen and (min-width:1440px) {
    body{
        background-image: url('imgs/bg-top.svg'), url('imgs/bg-bottom.svg');
        background-position: top -5rem right 1rem, top 40rem left;
    }
}