*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
     background-image: url('imgs/bg-top.svg');
 background-position: top right -13.5rem;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.content-holder{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
    font-size: 32px;
    color: #6E728E;
    margin-bottom: 2rem;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A2A7F0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A2A7F0;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A2A7F0;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-area{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 239px;
      justify-content: space-between;
  }

  .switch-area{
      display: flex;
      flex-direction: row;
      align-items: center;
     
  }

  .switch-area p{
      color: #6E728E;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 15px;
  }

  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.28); 
    box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.28);
  }

  h2{
    color: #6E728E;
    margin-top: 2rem;
  }


  .box1{
    width: 327px;
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 2rem;

  }

  .box2{
    width: 326px;
    background-color: #A2A7F0;
  }

  .box2 h2 {
    color: #fff;
  }

  .box2 .price{
    color: #fff;
  }

  .box2 p{
    color: #fff;
  }

  .box3{
    width: 327px;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .price{
    font-size: 72px;
    color: #4A4D60;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .dollar{
    font-size: 40px;
  }

  .statholder{
    border-top: 1px solid #6e728e62;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem ;
    padding-bottom:1rem ;
    color: #6E728E;
  }

  .statholder-white{
    border-top: 1px solid #fff;
  }

 

  .bottomstat{
    border-bottom: 1px solid #6e728e62;
  }

  .statholder-white-bottom{
    border-bottom: 1px solid #fff;
  }

  .button{
    width: 90%;
    background-color: #A2A7F0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 13px;
  }

  .button:hover{
    color:#A2A7F0 ;
    background-color:#fff ;
    border: 1px solid #A2A7F0;
  }

  .white-button{
    background-color: #fff;
    color:#A2A7F0 ;
  }

  .white-button:hover{
    color: #fff;
    background-color: #A2A7F0;
    border: 1px solid #fff;
  }

@media screen and (min-width:1330px) {
    body{
        background-image: url('imgs/bg-top.svg'), url('imgs/bg-bottom.svg');
        background-position: top -5rem right 1rem, top 40rem left;
    }

  .box-area{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
  }

  .box{
    height: 453px;
    width: 350px;
    
  }


  .box2{
   margin-bottom: 2rem;
    margin-top: 3rem;
   height: 501px;

   z-index: 500;
    
  }

  .movedown{
    margin-top: 3.9rem;
  }

  .box1{
    /* -webkit-box-shadow: none;
    box-shadow: none; */
    margin-top: 4rem;
  }

  .box3{
    /* -webkit-box-shadow: none;
    box-shadow: none; */
    margin-top: 4rem;
    margin-bottom: 2rem;
  }


}